<div>
	<h1>You are solving a problem</h1>
	<div ng-include src="'pages/pieces.html'"></div>
	<div class="boardContainer">
		<div id="board" class="board"></div>
	</div>
	<div ng-show="showCorrect">Correct!</div>
	<div ng-show="showWrong">Wrong!</div>
	<button ng-show="showTryAgain" ng-click="clickTryAgain()">Try Again</button>
	<button ng-show="showAnswer" ng-click="clickShowAnswer()">Show Answer</button>
	<button ng-show="showNext" ng-click="clickNext()">Next</button>
	<button ng-click="clickQuit()">Quit</button>
</div>