<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.sjelkjd.MochaChess"
    version="1.0.0">

    <!-- windows -->
    <platform name="windows">
	   <js-module src="www/MochaChess.js" name="MochaChess">
          	<merges target="chess" />
	   </js-module>

        <js-module src="src/windows/MochaChessProxy.js" name="MochaChessProxy">
            <runs />
        </js-module>
        <framework src="src/windows/ChessEngineUWP/ChessEngineUWP/ChessEngineUWP.vcxproj" custom="true" type="projectReference"/>

    </platform>

    <!-- android -->
    <platform name="android">
		<js-module src="www/MochaChess.js" name="MochaChess">
        	<merges target="chess" />
		</js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MochaChess">
                <param name="android-package" value="org.sjelkjd.MochaChess.MochaChessCordova"/>
				<param name="onload" value="true"/>
            </feature>
        </config-file>
		<source-file src="src/android/java/MochaChessCordova.java" target-dir="src/org/sjelkjd/MochaChess" />
		<source-file src="src/android/lib/arm/libMochaChessLib.so" target-dir="libs/armeabi/" />
		<source-file src="src/android/lib/x86/libMochaChessLib.so" target-dir="libs/x86/" />
    </platform>

    <!-- ios -->

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MochaChess">
                <param name="ios-package" value="MochaChessEngine" />
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <js-module src="www/MochaChess.js" name="MochaChess">
        	<merges target="chess" />
	   </js-module>
        <source-file src="src/ios/Board.cpp" target-dir="." />
        <header-file src="src/ios/Board.h" target-dir="." />
        <source-file src="src/ios/EndgameTable.cpp" target-dir="." />
        <header-file src="src/ios/EndgameTable.h" target-dir="." />
        <source-file src="src/ios/Evaluation.cpp" target-dir="." />
        <header-file src="src/ios/Evaluation.h" target-dir="." />
        <source-file src="src/ios/MoveGenerator.cpp" target-dir="." />
        <header-file src="src/ios/MoveGenerator.h" target-dir="." />
        <source-file src="src/ios/Search.cpp" target-dir="." />
        <header-file src="src/ios/Search.h" target-dir="." />
        <source-file src="src/ios/StaticExchangeEvaluator.cpp" target-dir="." />
        <header-file src="src/ios/StaticExchangeEvaluator.h" target-dir="." />
        <source-file src="src/ios/TranspositionTable.cpp" target-dir="." />
        <header-file src="src/ios/TranspositionTable.h" target-dir="." />
        <source-file src="src/ios/Types.cpp" target-dir="." />
        <header-file src="src/ios/Types.h" target-dir="." />
        <header-file src="src/ios/pch.h" target-dir="." />
        <header-file src="src/ios/HashTable.h" target-dir="." />
        <header-file src="src/ios/MochaChessCordova.h" target-dir="." />
        <source-file src="src/ios/MochaChessCordova.mm" target-dir="." />

    </platform>

</plugin>